<p>Edit Employee</p>
<div class="row" *ngIf="employee">
    <div class="col-12">
        <div class="row m-3">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input id="employee-name" [(ngModel)]="employee.firstName" placeholder="name">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input id="employee-name" [(ngModel)]="employee.lastName" placeholder="name">
            </div>
            <button class="btn btn-primary" (click)="editEmployee(employee.id, employee)">Submit</button>
    
    </div>
  </div>
</div>
